<a class="game-card col-3 mb-4" href="{{URL}}/game/{{id}}/{{slug}}">
	<div class="card text-bg-dark">
		<img src="{{thumbnail}}" alt="{{title}}" class="card-img-top" />
		<div class="card-body">
			<h5 class="card-title text-truncate" title="{{title}}">{{title}}</h5>
			<p class="card-text text-truncate" title="{{short_description}}">
				{{short_description}}
			</p>
			<div class="d-flex justify-content-between align-items-center">
				<span class="badge bg-light text-dark">{{genre}}</span>
				<span style="font-size: 10px">{{platform}}</span>
			</div>
		</div>
	</div>
</a>
