<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
	<div class="container">
		<a class="navbar-brand" href="{{URL}}"><b>Luna Games</b></a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{URL}}">Home</a>
				</li>
				<li class="nav-item dropdown bg-dark">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdownMenuLink"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Platforms
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{URL}}/search?platform=all"
								>All</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?platform=pc"
								>PC</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?platform=browser"
								>Browser</a
							>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown bg-dark">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdownMenuLink"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Categories
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=mmorpg"
								>mmorpg</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=shooter"
								>shooter</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=strategy"
								>strategy</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=moba"
								>moba</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=racing"
								>racing</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=sports"
								>sports</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=social"
								>social</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=sandbox"
								>sandbox</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=open-world"
								>open-world</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=survival"
								>survival</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=pvp"
								>pvp</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=pve"
								>pve</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=pixel"
								>pixel</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=voxel"
								>voxel</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=zombie"
								>zombie</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=turn-based"
								>turn-based</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=first-person"
								>first-person</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=third-Person"
								>third-Person</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=top-down"
								>top-down</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=tank"
								>tank</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=space"
								>space</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=sailing"
								>sailing</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=side-scroller"
								>side-scroller</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=superhero"
								>superhero</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=permadeath"
								>permadeath</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=card"
								>card</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=battle-royale"
								>battle-royale</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=mmo"
								>mmo</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=mmofps"
								>mmofps</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=mmotps"
								>mmotps</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=3d"
								>3d</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=2d"
								>2d</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=anime"
								>anime</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=fantasy"
								>fantasy</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=sci-fi"
								>sci-fi</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=fighting"
								>fighting</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=action-rpg"
								>action-rpg</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=action"
								>action</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=military"
								>military</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=martial-arts"
								>martial-arts</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=flight"
								>flight</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=low-spec"
								>low-spec</a
							>
						</li>
						<li>
							<a
								class="dropdown-item"
								href="{{URL}}/search?category=tower-defense"
								>tower-defense</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=horror"
								>horror</a
							>
						</li>
						<li>
							<a class="dropdown-item" href="{{URL}}/search?category=mmorts"
								>mmorts</a
							>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
